*{ margin: 0px; padding: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
.clear{ clear: both;}
.wrapper{ width: 960px; height: 400px; background: #F8F8F8; margin: 0px auto; }
.main_menu{ background: #00A69B; margin-top: 30px;width: 960px;}
.main_menu>ul>li{ float: left;padding: 11px 29px; position: relative; border-right: 1px dotted #ACACAC;}
.main_menu>ul>li:last-child{ border-right: none;}
.main_menu>ul>li>ul{ display: none; position: absolute; background: #00A69B;top: 41px;width: 198px; left: 0px;}
.main_menu>ul>li:hover ul{ display: block;}
.main_menu ul li:hover{ background: #5F5C5C; transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding: 5px 10px;}
.main_menu>ul>li>ul>li{ border-bottom: 1px dotted #ACACAC;}
.main_menu>ul>li>ul>li:last-child{ border-bottom: none;}


.leftblock{background: #8D8D9C;width: 460px;height: 370px;float: left;}
.leftblock>iframe{width: 460px;height: 370px;}
.leftblock>form>select>option{margin: 5px auto;padding: 5px;}
.leftblock>form>input{margin: 5px;float: none;padding: 5px}
.leftblock>form{padding: 10px 10px;float: none;margin-left: 90px;}
.leftblock>form>button{padding: 10px}


