body{margin:30px 80px 40px 80px}
#manhinh{width: 1200px; margin: 150px 30px 30px 150px}
#tren{width : 1200px; height: 300px; background:#00Bff3}
#trai{width : 300px; background:#00CAD3; float: left}
#phai{width : 900px; background:#0FF467; float: right}
#duoi{width : 1200px; clear: both; background:#0FFDA6}
form{margin: 30px 130px 30px 150px}
adress{}