*{ margin: 0px; padding: 0px;}
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
.clear{ clear: both;}

.content{
    background: #8D8D9C;width: 460px;height: 370px;float: left;
}
.content>h3{margin: 30px}
.content>form{
    margin-left: 70px;
    margin-top: 30px;
}
.content>form>input{
    margin: 5px;
    alignment-baseline: after-edge
}
.content>button{width: 100px;margin-left: 70px}
.content>iframe{width: 460px;height: 370px}